@charset "UTF-8";
body{
    background-color: #92e08bfb;
    font-family: Arial, Helvetica, sans-serif;
}
/*
em HTML é id    = em CSS # (só pode um elemento)
em HTML é class = em CSS é . (pode varios elementos)
*/
h1{
    color: #0a5803fb;;
}
/* voce pode deixar a tag h1, ou nao.
exemplo: h1#principal{color:blue;}*/#principal{
    text-align: center;
    background-color: #2e6b28fb;
    color: white;
}
h2{
    color: #041b01fb;;
}
.basico{
    color: #065503fb;
    font-weight: bold;
}

.intermediario{
    color: #550303fb;
}

.avançado{
    color: #035551fb;
}
.destaque{
    background-color: rgba(255, 255, 0, 0.541);
}